<div *ngIf="loading">
	<div class="patch">
		<div class="spinner-border text-primary spinner" role="status">
			<span class="sr-only"></span>
		</div>
	</div>
</div>

<div class="container" *ngIf="!loading">
	<form novalidate  >
		<div class="form">
			<h1 class="h3 mb-3 fw-normal">Відшукайте книгу!</h1>
			<input [formControl]="findForm"  type="text" class="form-control " id="inputLastName" placeholder="Введіть книжку" />
			<div class="invalid-bks">
				<span>{{invalid}}</span>
			</div>
				<div class="genre-list" *ngFor="let book of books">
				<span class="genre"><span>&#9672;&nbsp;&nbsp;&nbsp;</span>{{book.title}}</span>
			</div>
		</div>
	</form>
</div>
