<!-- <div class="main">
	<h2>Reactive Form</h2>
	<form novalidate [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm)">
		<div class="input-group mb-3">
			<span class="input-group-text mail" id="basic-addon1">Назва</span>
			<input required type="text" class="form-control" formControlName="title" placeholder="Add e-mail">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text mail" id="basic-addon1">Сторінки</span>
			<input required type="text" class="form-control" formControlName="pages" placeholder="Add e-mail">
		</div>
		<div class="input-group mb-3" >
			<span class="input-group-text" id="basic-addon1">Жанри</span>
			<select formControlName="genre" class="form-control mb-3 category" type="category" name="category"
				placeholder="World">
				<option *ngFor="let category of categories" >{{category}}</option>
			</select>
		</div>
		<div class="btn">
			<input type="submit" class="btn btn-outline-secondary" value="Register" [disabled]="bookForm.invalid">
		</div>
	</form>
	<pre>
    {{bookForm.value | json}}
  </pre>
</div> -->



<div class="text-center container">
	<form novalidate [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm)">

		<h1 class="h3 mb-3 fw-normal">Додайте книжку!</h1>
		<input required formControlName="title" type="text" class="form-control form-gap" id="inputTitle" placeholder="Назва" />
		<div id="placeholder" *ngIf="bookForm.controls.title.invalid && bookForm.controls.title.touched">
			<p *ngIf="bookForm.controls.title.errors?.required">*Required field!</p>
			<p *ngIf="bookForm.controls.title.errors?.minlength">
				*Length at least
				{{ bookForm.controls.title.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>

		<input required formControlName="pages" type="text" class="form-control" id="inputName" placeholder="Кіл. сторінок" />
		<div id="placeholder" *ngIf=" bookForm.controls.pages.invalid && bookForm.controls.pages.touched">
			<p *ngIf="bookForm.controls.pages.errors?.required">
				*Required field!
			</p>
			<p *ngIf="bookForm.controls.pages.errors?.minlength">
				*Length at least
				{{ bookForm.controls.pages.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>

		<div class="input-group mb-3 genre">
			<div class="genre-label">
				<label for="">Жанри книжок:</label>
			</div>
			<div>
				<select formControlName="genre" class="form-control mb-3 category" type="category" name="options" placeholder="Жанри">
					<option *ngFor="let category of categories">{{category}}</option>
				</select>
			</div>
		</div>
		<button class="w-100 btn btn-lg" type="submit" [disabled]="bookForm.invalid">
			Sign in
		</button>
	</form>
</div>

