<div class="text-center container">
	<form novalidate [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm)">
		
		<h1 class="h3 mb-3 fw-normal">Додайте автора!</h1>
		<input required formControlName="lastName" type="text" class="form-control form-gap " id="inputLastName"
			placeholder="Прізвище" />
		<div id="placeholder" *ngIf="authorForm.controls.lastName.invalid && authorForm.controls.lastName.touched">
			<p *ngIf="authorForm.controls.lastName.errors?.required">*Required field!</p>
			<p *ngIf="authorForm.controls.lastName.errors?.minlength">
				*Length at least
				{{ authorForm.controls.lastName.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>
		<input required formControlName="name" type="text" class="form-control form-gap" id="inputName"
			placeholder="Ім'я" />
		<div id="placeholder" *ngIf=" authorForm.controls.name.invalid && authorForm.controls.name.touched">
			<p *ngIf="authorForm.controls.name.errors?.required">
				*Required field!
			</p>
			<p *ngIf="authorForm.controls.name.errors?.minlength">
				*Length at least
				{{ authorForm.controls.name.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>
		<input required formControlName="father" type="text" class="form-control form-gap" id="inputFather"
			placeholder="По батькові" />
		<div id="placeholder" *ngIf="authorForm.controls.father.invalid && authorForm.controls.father.touched">
			<p *ngIf="authorForm.controls.father.errors?.required">*Required field!</p>
			<p *ngIf="authorForm.controls.father.errors?.minlength">
				*Length at least
				{{ authorForm.controls.father.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>
		<input required formControlName="dateBorn" type="text" class="form-control form-gap" id="inputDateBorn"
			placeholder="Прізвище" />
		<div id="placeholder" *ngIf="authorForm.controls.dateBorn.invalid && authorForm.controls.dateBorn.touched">
			<p *ngIf="authorForm.controls.dateBorn.errors?.required">*Required field!</p>
			<p *ngIf="authorForm.controls.dateBorn.errors?.minlength">
				*Length at least
				{{ authorForm.controls.dateBorn.errors?.minlength.requiredLength }}
				characters.
			</p>
		</div>
		<button class="w-100 btn btn-lg" type="submit" [disabled]="authorForm.invalid">
			Sign in
		</button>
	</form>
</div>






