



<div class="container">
	
	



	<h2>Редагування</h2>
	
<div *ngIf="authors$ | async as authors" class="list" >

	<div class="edit-author">
		<div class="block-author">
			<div class="each">
				<span><i>Прізвище</i></span>
				<input #lastNameVal type="text" class="form-control" placeholder="Add exercise" value="{{authors.lastName}}">
			</div>
			<div class="each">
				<span><i>Ім'я</i></span>
				<input #nameVal type="text" class="form-control" placeholder="Add exercise" value="{{authors.name}}">
			</div>
			<div class="each">
				<span><i>По батькові</i></span>
				<input #father type="text" class="form-control" placeholder="Add exercise" value="{{authors.father}}">
			</div>
			<div class="each">
				<span><i>Дата народж.</i></span>
				<input #dateBorn type="text" class="form-control" placeholder="Add exercise" value="{{authors.dateBorn}}">
			</div>
		</div>
		<div class="btn-author">
			<div>
				<button (click)="editsAuthor(lastNameVal.value, nameVal.value, father.value, dateBorn.value)" type="button"
					class="btn btn-outline-dark light">Редагувати</button>
			</div>
		</div>
	</div>
		
		<div class="each">
			<span>Книжка: </span>
			<a [routerLink]="['book']">Додати</a>
		</div>
	
		


		<div *ngFor="let book of booksList" class="blockbook">
			<div class="allbooks">
				<input #title type="text" class="form-control" placeholder="Add exercise" value="{{book.title}}">
				<input #genre type="text" class="form-control" placeholder="Add exercise" value="{{book.genre}}">
				<input #pages type="text" class="form-control" placeholder="Add exercise" value="{{book.pages}}c.">
			</div>
			<div class="btnblock">
				<div class="bookbtn">
					<button type="button" (click)="editsBook(book.id, title.value, genre.value, pages.value)" class="btn btn-outline-dark light btn-book">Змінити</button>
					<button type="button" (click)="deleteBook(book.id)" class="btn btn-outline-dark light btn-book">Видалити</button>
				</div>	
			</div>
		</div>
	</div>
	
</div>
