
<div class="container">
	<h2>Редагування</h2>
	<div class="input-group flex-nowrap form">
		<span class="input-group-text" id="addon-wrapping">&#9672;</span>
		<input #resFit type="text" class="form-control" placeholder="Add exercise">
	</div>
	<div *ngIf="post$ | async as post" class="list" >
		<div class="each">
			<span>Прізвище: </span>
			<span><i>{{post.name}}</i></span>
			<span (click)="beginEditFit(post, resFit)" class="edit">&#9998;</span>
			<button (click)="completEditFit(resFit.value)" type="button" class="btn btn-outline-dark light">Змінити</button>
		</div>
		<div class="each">
			<span>Ім'я: </span>
			<span><i>{{post.lastName}}</i></span>
			<span (click)="beginEditFit(post, resFit)" class="edit">&#9998;</span>
			<button (click)="completEditFit(resFit.value)" type="button" class="btn btn-outline-dark light">Змінити</button>
		</div>
		<div class="each">
			<span>По батькові: </span>
			<span><i>{{post.lastName}}</i></span>
			<span (click)="beginEditFit(post, resFit)" class="edit">&#9998;</span>
			<button (click)="completEditFit(resFit.value)" type="button" class="btn btn-outline-dark light">Змінити</button>
		</div>
		<div class="each">
			<span>Народження: </span>
			<span><i>{{post.lastName}}</i></span>
			<span (click)="beginEditFit(post, resFit)" class="edit">&#9998;</span>
			<button (click)="completEditFit(resFit.value)" type="button" class="btn btn-outline-dark light">Змінити</button>
		</div>
		<div class="each">
			<span>Книжка: </span>
			<a [routerLink]="['book']">Додати</a>
		</div>
		<div *ngFor="let book of booksList">
			<ul>
				<li>
					{{book.title}}
				</li><li>
					{{book.foreignKey}}
				</li>
			</ul>
		</div>
	</div>
</div>
